.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 16px 18px;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 917px) {
  .profile__info {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 618px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    gap: 10px;
  }
}