.form__submit {
  min-height: 50px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  border: 0;
  border-radius: 2px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.form__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 618px) {
  .form__submit {
    min-height: 46px;
    font-size: 14px;
  }
}