.element__like-button {
  cursor: pointer;
  border: 0;
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-image: url('../../../images/like-button.svg');
  transition: opacity 0.2s linear;
}

.element__like-button:hover {
  opacity: 0.5;
}